.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}

.project {
  max-width: 100%;
  background-color: #111;
  border-radius: 12px;
  padding: 30px 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  color: white;
}

.project h1 {
  font-size: 80px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;
  color: #ffffff;
}

.project-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.project-item {
  background-color: #222;
  border-radius: 10px;
  padding: 20px 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.project-image {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  object-fit: cover;
}

.project-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(94, 200, 214, 0.8);
}

.project-item h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #DA7C25;
}

.project-item p {
  font-size: 18px;
  line-height: 1.6;
  color: #ccc;
  margin: 0;
}

@media (max-width: 768px) {
  .projects {
    flex-direction: column;
    align-items: center;
  }

  .project h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .project-list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .project-item {
    width: 100%;
    max-width: 95%; /* Increased max-width to give more space */
    padding: 25px; /* Increased padding */
    word-wrap: break-word; /* Allow long words to break */
    overflow-wrap: break-word;
  }

  .project-item h2 {
    font-size: 24px;
  }

  .project-item p {
    font-size: 16px;
  }
}